#Just for the project built by IntelliJ Idea
.idea/
target/
out/


#The following content was referred from https://github.com/github/gitignore/blob/master/Java.gitignore
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.directory
/antibioticdemo1.iml
/db.xlsx
/src/main/java/com/iaso/antibiotic/json/
/src/main/java/com/iaso/antibiotic/test/
/src/main/webapp/WEB-INF/TEST/
/可行性研究报告（组建重点实验室）汇总7-liting (1).doc
/凯琦_抗生素开源系统简介.docx
/404.bin
/.~lock.凯琦_抗生素开源系统简介.docx#
/src/main/webapp/files/
/src/main/webapp/WEB-INF/index.html
others/
src/main/webapp/WEB-INF/VIEW/
src/main/webapp/images/
src/main/webapp/resources/
src/main/webapp/template/
/others/
/others/sqlFiles/openKG_symptom.sql
/others/sqlFiles/openKG_symptom_type.sql
/others/sqlFiles/openKG_complication.sql
/others/sqlFiles/alldata.sql
/others/sqlFiles/openKG_infection_site.sql
/others/sqlFiles/openKG_antibioticKG_index.sql
/others/sqlFiles/openKG_disease.sql
/others/sqlFiles/openKG_relation.sql
/others/sqlFiles/openKG_situation.sql
/others/sqlFiles/openKG_bacteria.sql
/others/sqlFiles/openKG_antibiotic.sql
/others/sqlFiles/openKG_edge_in_KG.sql
/others/TestCases/apiTest.md
