<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- development:开发模式     work:工作模式 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/openKG?autoReconnect=true" />
                <!--<property name="url" value="jdbc:mysql://127.0.0.1:3939/openKG?autoReconnect=true" />-->
                <property name="username" value="root" />
                <property name="password" value="1234567" />
                <!--<property name="password" value="" />-->
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="/mapping/AntibioticMapper.xml" />
        <mapper resource="/mapping/BacteriaMapper.xml"/>
        <mapper resource="/mapping/SituationMapper.xml"/>
        <mapper resource="/mapping/InfectionSiteMapper.xml"/>
        <mapper resource="/mapping/DiseaseMapper.xml"/>
        <mapper resource="/mapping/ComplicationMapper.xml"/>
        <mapper resource="/mapping/SymptomMapper.xml"/>
        <mapper resource="/mapping/SymptomTypeMapper.xml"/>
        <mapper resource="/mapping/EdgeMapper.xml"/>
        <mapper resource="/mapping/RelationMapper.xml"/>
        <mapper resource="/mapping/TESTRestfulMapper.xml"/>
    </mappers>

</configuration>