<div class="panel">


    <div class="panel-body">
        <div class="container">
            <form enctype="multipart/form-data"  action ="/search", method="post">
                <div class="row">
                    <div class="col-md-2">
                        <h1><font face="微软雅黑">IASO</font></h1>
                        <p><strong>Knowledge Graph</strong></p>
                    </div>
                    <div class="col-md-10">
                        <br>
                        <div class="input-group">
                            <input type="text" id="keywords" name="keywords" class="form-control input-lg" placeholder="搜索......" value="">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default  btn-lg"><span class="glyphicon glyphicon-search"></span></button>
                                <!--<input type="button" class="btn btn-default  btn-lg" onclick="clickButton()"><span class="glyphicon glyphicon-search"></span></input>-->
                            </span>
                        </div>
                        <!--<p>推荐：-->
                            <!--<a href="cytoscape.php?keywords=中药&amp;graph=tcmls">中药</a> -->
                            <!--<a href="cytoscape.php?keywords=气&amp;graph=tcmls">气</a> -->
                            <!--<a href="cytoscape.php?keywords=五行&amp;graph=tcmls">五行</a>                         -->
                        <!--</p>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>