<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iaso.antibiotic.dao.InfectionSiteMapper">
  <resultMap id="BaseResultMap" type="com.iaso.antibiotic.model.InfectionSite">
    <id column="infection_site_id" jdbcType="VARCHAR" property="infectionSiteId" />
    <result column="infection_site_name" jdbcType="VARCHAR" property="infectionSiteName" />
  </resultMap>
</mapper>