<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iaso.antibiotic.dao.RelationDao">
  <resultMap id="RelationResult" type="com.iaso.antibiotic.model.KGRelation">
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="relation_name" jdbcType="VARCHAR" property="relationName" />
    <result column="relation_type" jdbcType="VARCHAR" property="relationType" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
  </resultMap>

  <select id="findRelationNameById" parameterType="String" resultMap="RelationResult">
    SELECT * FROM relation WHERE relation_id = #{relation_id}
  </select>
</mapper>