<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iaso.antibiotic.dao.SituationDao">
    <resultMap id="SituationResult" type="com.iaso.antibiotic.model.Situation">
    <id column="situation_id" jdbcType="VARCHAR" property="situationId" />
    <result column="situation_name" jdbcType="VARCHAR" property="situationName" />
  </resultMap>

    <select id="findSituationByID" resultMap="SituationResult">
        SELECT * FROM situation WHERE situation_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findSituationByName" resultMap="SituationResult">
        SELECT * FROM situation WHERE situation_name = #{name} LIMIT 1
    </select>

    <select id="findAllSituationName" resultType="String">
        select situation_name from situation LIMIT 50
    </select>
</mapper>