<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iaso.antibiotic.dao.SymptomTypeMapper">
  <resultMap id="BaseResultMap" type="com.iaso.antibiotic.model.SymptomType">
    <id column="symptom_type_id" jdbcType="VARCHAR" property="symptomTypeId" />
    <result column="symptom_type_name" jdbcType="VARCHAR" property="symptomTypeName" />
  </resultMap>
</mapper>